# Virtual Environments
venv/
env/
.env/
.venv/

# Python packaging
*.egg-info/
dist/
__pypackages__/
.python-version

# OS
.DS_Store
Thumbs.db

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE / VS Code
.vscode/
.idea/

# JAX / XLA compilation cache
.jax_cache/

# Agent files
.cache/
.agents/

# Prompts (LLM context files)
.prompts/
reference_code/
AGENTS.md
TODO.md

# Datasets / Large log files
*.csv
*.dat
*.log
logs/

# cpp libraries
vendor/

# build folder/make files
build/
compile_commands.json

# graphics engine
src_cpp/graphics/GraphicsEngine.*

# literature files
literature.md

# School Project Files
PROJECT-2026.pdf

# python lsp setup
pyrightconfig.json
